.bannerimage{
    background-image: url('images/bold-1-cut-wave-header.jpg');
}

h2, h3, a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Titan One', cursive;
    font-size: 35px;
    letter-spacing: -3.5;
}

h2{
    font-size: 32px;
    letter-spacing: .45;
    font-weight: 800;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 4.5;
    line-height: 1.35;
    font-weight: 400;
}