.bannerimage{
    background-image: url('images/bold-1-cut-wave-header.jpg');
    background-position: top center;
}

h2, h3, a {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Titan One', cursive;
    font-size: 35px;
  }

body h2{
    font-size: 32px;
    letter-spacing: .45em;
    font-weight: 800;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: .045em;
    line-height: 1.35;
    font-weight: 400;
}

body h3{
    font-weight: 800;
}

form input, 
form textarea{
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: none;
  text-transform: uppercase;
}

form input:focus,
form textarea:focus{
  border-color:#EEC1DC;
}

textarea{
  min-height: 6rem;
}

form label{
  margin-top: 1rem;
  display: block;
  color: inherit; 
}


.inline{
  display:inline;
  width:initial;
  margin-bottom: 1rem;
}

.text{
  margin-left: 1rem;
}
